# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
#out
#gen


# Package Files #
*.class
*.jar
*.war
*.ear

# ignore Maven generated target folders
*/target/*

# ignore eclipse files
.project
.classpath
.settings
.metadata